/* Estilo para el Sidebar */
.sidebar {
    width: 250px; 
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-top: 20px;
}

.main-content {
     margin-left: 250px; 
    padding: 20px;
}